@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
  font-family: 'Poppins', sans-serif !important;
  border: 0px !important;
}

button {
  background-color: rgba(17, 138, 178) !important;
  color: #FFF !important;
  
}
button:hover {
  background-color: rgb(14, 108, 139) !important;
  transition: all 0.5s ease !important;
}
h1, h2, h3 {
  color: #FFF !important;
}

body {
  background-image: linear-gradient(to bottom, rgba(255, 209, 102, 0.836), rgba(17, 138, 178, 0.534)), url("background1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.artist {
  display: inline-block;
  padding: 10px;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
h1, h4 {
  color: #FFF !important;
}
h1 {
  font-size: 55px !important;
}
h4 {
  font-size: 20px !important;
  margin-top: 0px;
}

.track {
  display: inline-block;
  padding: 10px;
}

.sidebar {
  min-width: 250px;
}

#title {
  margin-bottom: 0px;
}

#author {
  margin-top: 0px;
}

#results-container {
  text-align: center;
}

.item {
  text-align: center;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 767px) {
  img {
    width: 200px;
    height: 200px;
  }
}
